{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">


    <link rel="stylesheet" href="{% static 'app/app.css' %}">
    <!--<link rel="stylesheet" href="{% static 'app/shopkz.css' %}">-->
    <link rel="stylesheet" href="{% static 'app/myshopkz.css' %}">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <!--product-->
    <!--<link rel="stylesheet" href="{% static 'app/styles.min.css' %}">-->


    <!--<link rel="stylesheet" type="text/css" href="slick/slick.css"/>-->
    <!--// Add the new slick-theme.css if you want the default styling-->
    <!--<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>-->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/slick/slick-theme.css' %}"/>
</head>
<body>

    <header class="header_top">
        <div class="header_inner">
            <nav class='navbar navbar-expand-lg navbar-dark navbar-custom sticky-top'>

                <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse"
                        data-target="#navbarSupportContent" aria-controls="navbarSupportContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-text">Electro BIT</span>
                </button>

                <div class="header_logo">
                    <a href="#" class="navbar-brand">
			            <!--<img src="{% static 'app/images/logo1.png' %}" width="250" height="50" alt="logo">-->
                        <img src="{% static 'app/images/logo.png' %}" width="30" height="30" alt="logo">
		            </a>

                </div>

                <div class="collapse navbar-collapse" id="navbarSupportContent">
                    <ul class="navbar-nav mr-auto header_menu">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Магазин</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Платежи</a>
                        </li>
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" href="#">Мой Банк</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" href="#">Red</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" href="#">Гид</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" href="#">Maps</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" href="#">Переводы</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" href="#">Наши субподрядчики</a>-->
                        <!--</li>-->
                        <li class="nav-item">
                            <a class="nav-link" href="#">О Нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Контакты</a>
                        </li>
                    </ul>
                    <div class="header_auth">
                        <a href="#">
                            <img src="{% static 'app/images/auth.png' %}" width="30" height="30" alt="logo">
                        </a>
                    </div>
                </div>

        	</nav>
        </div>
    </header>

    {% block content %}{% endblock %}


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <!--<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>-->
    <script src="{% static 'app/css/slick/slick.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'app/script/script.js' %}" type="text/javascript" charset="utf-8"></script>

</body>
</html>