{% extends 'app/base.html' %}
{% load staticfiles %}

{% block content %}



    <header class="header">
        <div class="header__inner">
            <form name="search" class="search _topbar-ext" action="#" method="get">
                <input type="hidden" id="emptySearch" name="emptySearch" value="rO0ABXQAI2h0dHBzOi8va2FzcGkua3ovc2hvcC9jL0NhdGVnb3JpZXMv">
                <a href="#" class="search__logo">Магазин</a>
                <span class="twitter-typeahead" style="position: relative; display: inline-block;">
                    <input class="search__input tt-hint" type="text" value="" data-no-validation="data-no-validation" maxlength="256" readonly="" autocomplete="off" spellcheck="false" tabindex="-1" dir="ltr" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(251, 251, 251);">
                    <input class="search__input tt-input" type="text" placeholder="Поиск товара" name="text" value="" data-no-validation="data-no-validation" maxlength="256" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;">
                </span>
                <button class="search__submit button" type="submit">
                    <span class="icon _small _search"></span>
                </button>
            </form>

            <a href="" id="citySelector" class="current-location ">
                Мой город<br>
                <span class="current-location__city">Алматы</span>
            </a>

            <div class="phone">
                <span class="phone__icon icon _small _mobile-toggle"></span>
                <span class="phone__number">1234</span>
                <span class="phone__hint">(бесплатно)</span>
            </div>
        </div>
    </header>

    <nav class="nav">
		<div class="nav__inner">
			<ul class="nav__list">
                <li class="nav__el">
                    <a class="nav__el-link" href="#">
                        <span class="nav__el-link-text">Счетчики</span>
                    </a>
                </li>
                <li class="nav__el">
                    <a class="nav__el-link" href="#">
                        <span class="nav__el-link-text">Трансформаторы</span>
                    </a>
                </li>
                <li class="nav__el">
                    <a class="nav__el-link" href="#">
                        <span class="nav__el-link-text">Трансформаторные<br>шкафы</span>
                    </a>
                </li>
                <li class="nav__el">
                    <a class="nav__el-link" href="#">
                        <span class="nav__el-link-text">Кабеля</span>
                    </a>
                </li>
                <li class="nav__el">
                    <a class="nav__el-link" href="#">
                        <span class="nav__el-link-text">Осветительные<br>приборы</span>
                    </a>
                </li>
            </ul>
		</div>
	</nav>

    <div class="container-fluid p-0 mb-5">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-terget="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-terget="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-terget="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="{% static 'app/images/caro/00.jpg' %}" alt="" class="d-block img-fluid w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'app/images/caro/01.jpg' %}" alt="" class="d-block img-fluid w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'app/images/caro/02.jpg' %}" alt="" class="d-block img-fluid w-100">
				</div>
			</div>
			<a href="#carouselExampleIndicators" class="carousel-control-prev" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden='true'></span>
				<span class="sr-only">Previous</span>
			</a>
			<a href="#carouselExampleIndicators" class="carousel-control-next" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden='true'></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>


    <!--<div class="card-deck">-->
		<!--<div class="card">-->
			<!--<img class="card-img-top" src="{% static 'app/images/cards/card.jpg' %}" alt="Card image cap">-->
			<!--<div class="card-block">-->
				<!--<h4 class="card-title">Card title</h4>-->
				<!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
				<!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="card">-->
			<!--<img class="card-img-top" src="{% static 'app/images/cards/card.jpg' %}" alt="Card image cap">-->
			<!--<div class="card-block">-->
				<!--<h4 class="card-title">Card title</h4>-->
				<!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
				<!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="card">-->
			<!--<img class="card-img-top" src="{% static 'app/images/cards/card.jpg' %}" alt="Card image cap">-->
			<!--<div class="card-block">-->
				<!--<h4 class="card-title">Card title</h4>-->
				<!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>-->
				<!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

    <div class="item-cards-grid _main-page">
        <h2 class="item-cards-grid__header">Популярные товары</h2>
        <div class="item-cards-grid__cards">

            {% for product in list%}
            <div class="item-card ddl_product">
                <a href="{% url 'product' name=product.name %}" class="item-card__image-wrapper ddl_product_link">
                    {% with 'app/images/product/'|add:product.img as image_static %}
                        <img alt="" src="{% static image_static %}">
                    {% endwith %}
                </a>
                <div class="item-card__info">
                    <a href="{% url 'product' name=product.name %}" class="item-card__name">{{ product.name }}</a>
                    <div class="item-card__rating">
                        <!--<span class="rating _small _10"></span>-->
                        <a href="{% url 'product' name=product.name %}" class="ddl_product_link" >{{ product.text }}</a>
                    </div>

                    <div class="item-card__prices">
                        <div class="item-card__debet">
                            <span class="item-card__prices-title">Цена</span>
                            <span class="item-card__prices-price">{{ product.price }}</span>
                        </div>
                        <div class="item-card__instalment">
                            <span class="item-card__prices-title">Оптовая цена</span>
                            <span class="item-card__prices-price">{{ product.price_min }}</span>
                            <span class="item-card__add-info">x 24</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="footer">
        <div class="footer__inner">
            <div class="footer__section footer__section_login">
                <h4 class="footer__section-title">Покупателям</h4>
                <ul class="footer__section-list">
                    <li class="footer__section-list-item">
                        <a href="#" title="Выбор товара">Выбор товара</a>
                    </li>
                    <li class="footer__section-list-item">
                        <a href="#" title="Покупка товара в кредит">Покупка товара в кредит</a>
                    </li>
                </ul>
            </div>
            <div class="footer__section footer__section_catalog">
                <h4 class="footer__section-title">Каталог товаров</h4>

                <ul class="footer__section-list">
                    {% for title_name in title_list %}
                    <li class="footer__section-list-item">
                        <a href="">{{ title_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer__section footer__section_customers">
                <h4 class="footer__section-title">Партнерам</h4>
                <ul class="footer__section-list">
                    <li class="footer__section-list-item">
                        <a class="footer__section-list-item-link" href="#">Вход в кабинет продавца</a>
                    </li>
                </ul>
                <h4 class="footer__section-title _documents">Документы</h4>
                <ul class="footer__section-list">
                <li class="footer__section-list-item">
                        <a href="#">  Пользовательское соглашение</a>
                    </li>
                <li class="footer__section-list-item">
                        <a href="@">  Договор присоединения</a>
                    </li>
                </ul>
            </div>


            <div itemscope="" itemtype="#">
                <div class="footer__section footer__section_contacts">
                    <h4 class="footer__section-title">Помощь и контакты</h4>
                    <div class="footer__section-telephone">
                        <div class="phone ">
                                    <span class="phone__icon icon _small _mobile-toggle"></span>
                                    <span class="phone__number" itemprop="telephone">+7 (777) 666 55 44</span>
                                    <span class="phone__hint">(бесплатно)</span>
                                </div>
                            </div>
                    <a href="#" class="footer__section-mail">
                        <span itemprop="email">mail@example.kz</span>
                    </a>
                    <div class="footer__section-socials">
                        <a class="footer__section-socials-link" href="#"><span class="icon _medium _facebook"></span></a>
                        <a class="footer__section-socials-link" href="#"><span class="icon _medium _vk"></span></a>
                        <a class="footer__section-socials-link" href="#"><span class="icon _medium _twitter"></span></a>
                        <a class="footer__section-socials-link" href="#"><span class="icon _medium _instagram"></span></a>
                        <a class="footer__section-socials-link" href="#"><span class="icon _medium _mailru"></span></a>
                        <a class="footer__section-socials-link" href="#"><span class="icon _medium _odnoklassniki"></span></a>
                    </div>
                </div>

                <div class="footer__copyright">
                    <span>2018</span>
                </div>

            </div>

        </div>
    </div>

{% endblock %}

