{% extends 'app/home.html' %}
{% load staticfiles %}

{% block products %}

    <!--<div class="hidden-title">-->
        <!--<div class="hidden-title hidden" id="product-preview-id">-->
            <!--<div class="product-preview">-->
                <!--<div class="item-columns clearfix">-->
                    <!--<div class="column column-left">-->

                        <!--<div class="column-img">-->
                            <!--<div class="img-centered">-->
                                <!--{% with object.image as image_static %}-->
                                    <!--<img src="{% static image_static %}" alt="alt text" class="img-fluid " width="55" height="60">-->
                                <!--{% endwith %}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="column-in">-->
                            <!--<div class="item-title text&#45;&#45;black text-ellipsis">{{ object.name }}-->
                            <!--</div>-->
                            <!--<div class="item-meta">-->
                                <!--<div>-->
                                    <!--<label>Статус:</label><b class="stock-status">Есть в наличии</b>-->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<label>Код товара:</label><b>{{ object.article }}</b>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<div class="column column-right">-->
                        <!--<div class="item-order">-->
                            <!--<div class="item-price">-->
                                <!--<div class="price-box price-final_price" data-role="priceBox" data-product-id="8077">-->
                                    <!--<span class="item-price price-container price-final_price tax weee">-->
                                        <!--<span id="product-price-8077" data-price-amount="44990" data-price-type="finalPrice" class="price-wrapper item-price">-->
                                            <!--<span class="price">{{ object.price }}-->
                                            <!--</span>-->
                                        <!--</span>-->
                                    <!--</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<form action="#" method="post" id="product_addtocart_form_preview">-->
                                    <!--<input type="hidden" name="product" value="">-->
                                    <!--<input name="form_key" type="hidden" value="EITAB2g2H1mWh67a">-->
                                    <!--<button type="submit" title="Купить" class="action tocart primary btn btn&#45;&#45;block btn&#45;&#45;green btn&#45;&#45;order">-->
                                        <!--<span>Купить</span>-->
                                    <!--</button>-->
                                <!--</form>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


                    <!--item-cards-grid-->
    <div class="product content-block content-place">
        <div class="row">
            <div class="col-8 column column-view">
                <div class="product-info-main">
                    <div class="item-title">
                        <h1 class="page-title">
                            <span class="title-2" data-ui-id="page-title-wrapper"><strong>{{ object.name }}</strong></span>
                        </h1>
                    </div>

                    <div class="item-meta">
                        <div class="stock available">
                            <label class="type">Cтатус:</label>
                            <b class="stock-status">Есть в наличии</b>
                        </div>
                        <div>
                            <label class="type">Код товара: </label>
                            <b class="value">{{ object.article }}</b>
                        </div>
                    </div>

                    <div class="item-gallery">
                        <div class="img-centered ">
                            {% with object.image as image_static %}
                                <img src="{% static image_static %}" title="title text" alt="alt text" class="img-fluid " width="385" height="400">
                            {% endwith %}
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-4 column column-side">

                <div class="item-order">
                    <div class="item-block">
                        <div class="item-oldprice item-oldprice--middle">
                            <!--{{ object.old_price }}-->
                        </div>
                        <div class="item-price item-price--large pricebox-product-view">
                            <div class="price-box">
                                <span class="item-price">
                                    <span class="price">{{ object.price }}</span>
                                    <meta content="KZT">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="item-block">
                        {{ object.description_short }}
                    </div>
                    <div class="item-block">
                        <button type="button" class="btn btn--blue btn--block btn--largest">Все характеристики</button>
                    </div>
                    <div class="item-block">
                        <button type="button" class="btn btn--red btn--block btn--largest">Купить</button>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="product-bottom">

        <div class="nav-product-wrapper">
            <div class="nav-product" id="bottom-menu-id">

                <div class="content-place">
                    <nav class="navbar nav-custom">
                        <nav class="nav bottom-menu">
                            <a class="nav-item nav-link active"
                               href="#product_tab_description" data-toggle="tab">Описание</a>
                            <a class="nav-item nav-link"
                               href="#product_tab_attributes" data-toggle="tab">Характеристики</a>
                        </nav>
                    </nav>
                </div>

            </div>
        </div>

        <div class="product-tabs content-place content-block">
            <div class="product-tab">

                <div class="tab-content" data-tabsetid="5915">

                    <div role="tabpanel" class="tab-pane active" id="product_tab_description">
                        <p>{{ object.description }}</p>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="product_tab_attributes">
                        <p><b>характеристики</b></p>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="reviews">
                        <p><b>отзывы</b></p>
                    </div>


                </div>

            </div>
        </div>

    </div>




    <div class="item-cards-grid _main-page">
        <h2 class="item-cards-grid__header">Похожие товары</h2>
        <div class="item-cards-slick__cards slider autoplay">
            {% for item in list %}
            <div class="item-card slick-slide">
                    <a href="{% url 'product_item' pk=item.pk %}" class="item-card__image-wrapper ddl_product_link">
                        {% with item.image as image_static %}
                            <img alt="{{ image_static }}" src="{% static image_static %}" width="150" height="170">
                        {% endwith %}
                    </a>
                    <div class="item-card__info">
                        <a href="{% url 'product_item' pk=item.pk %}" class="item-card__name">{{ item.name }}</a>

                        <div class="item-card__prices">
                            <div class="item-card__debet">
                                <span class="item-card__prices-title">Цена</span>
                                <span class="item-card__prices-price">{{ item.price }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}