@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Roboto', sans-serif;
}
.jumbotron{
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
}
/* */
.tng{
    font-family:Tenge
    }
.item-card:hover{
    border-radius: 3%;
    border: 1px solid #0089d0;
}
.header_top{
    background:#4a4a4a;
    line-height: 2.5;
}
.header_inner{
    width:960px;
    height:74px;
    margin:0 auto;
    padding:0;
}
.navbar-custom .navbar-nav>.nav-item.active>.nav-link,
.navbar-custom .navbar-nav>.nav-item .nav-link:focus,
.navbar-custom .navbar-nav>.nav-item .nav-link:hover{
    color:#f14635;
}
.header_menu{
    margin:0;
    padding:0;
    list-style:none;
    color:#f2f2f2;
    position:relative;
    font-size: 17px;
}
.header_menu a{
    color:#f2f2f2;
}
.row-search{
    line-height: 2.5;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
	height: 50px;
	width: 50px;
}
.parser-list{
    *zoom:1;
    width:960px;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:42px;
    border-radius:100%
}
.item-form{
    margin-top:42px;
}
h2.item-cards-grid__header{
    margin:25px 0 25px;
}
/*
    content
*/
.hidden-title{
	*zoom:1;
	width:960px;
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
	border-radius:100%
	}
/*
    product
*/
.product{
    margin-top: 10px;
}
.product-info-main{
    border-right: 1px solid #ddd; /* Параметры линии */
    margin-right: 5px; /* Отступ слева */
    padding-right: 10px; /* Расстояние от линии до текста */
}
.page-title,
.item-meta b{
    font-family: 'Open Sans', sans-serif;
}
.page-title .title-2 {
    margin-bottom: 0;
}
.title-2 {
    font-size: 25px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 18px;
    color: #000;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.item-block{
    margin: 24px auto;
    padding: 10px auto;
}
.product .item-meta b {
    color: #2ba81e;
    margin-left: 5px;
}
.product .item-meta b,
.product .item-meta label {
    font-weight: 500;
}
.product label{
    margin: auto;
}
.product .item-meta>div {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.product-info-main .item-oldprice{
    text-decoration:line-through;
    font-size:14px
}
.product-info-main .item-price{
    margin-bottom: 20px;
    padding: auto;
}
.item-price--large .item-price .price,
.item-price--large .item-price strong {
    font-size: 54px;
    height: 35px;
    line-height: 35px;
}
.product-info-main .img-centered{
    vertical-align:middle;
}
.product-info-main .item-order{
    margin-top: 24px;
}


.btn--green {
    color: #fff!important;
    background-color: #2ba81e!important;
}
.btn--blue{
    color: #fff!important;
    background-color: #0089d0!important;
}
.btn--red {
    color: #f26021!important;
    background-color: #fff!important;
    border-color: #f26021!important;
}
.btn--block:hover{
    color: #fff!important;
    background-color: #2ba81e!important;
    border-color: #2ba81e!important;
}
.btn--red:hover{
    color: #fff!important;
    background-color: #f26021!important;
    border-color: #f26021!important;
}
.btn--largest {
    font-size: 18px;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
}
.btn--block {
    display: block;
    width: 100%;
}

/* nav bottom */

.product-menu-bottom .item-cards-grid{
    margin-bottom: 0px;
}

.product-menu-bottom:not(.fixed) .nav-product {
    padding-right: 0!important;
}
.nav-product {
    -webkit-transition: top .3s;
    transition: top .3s;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1156px;
    z-index: 7;
}
.nav-product, .nav-product-wrapper {
    height: 45px;
}


/*
.container {
    width: auto;
    max-width: 1176px;
}
@media (min-width: 1200px)
.container {
    width: 1176px;
}
@media (min-width: 1024px)
.container {
    width: 960px;
}
@media (min-width: 768px)
.container {
    width: 740px;
}
*/

.list-inline {
    margin-left: -5px;
}
.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.product-menu-bottom{
    background-color: #eee;
}
.bottom-menu{
    font-size: 16px;
}
.bottom-menu .nav-item{
    color: #000;
    background-color: #eee;
}
.bottom-menu .nav-item.active{
    border-bottom: 5px solid #0089d0;
    color: #0089d0;
}

/* tabs */

.product-tab.bg--white {
    background-color: #fff;
    padding-bottom: 30px;
}
.product-tab {
    position: relative;
    padding-top: 30px;
}
.container {
    width: auto;
    max-width: 1176px;
}
.tab-pane {
    display: none;
}
.tab-pane.active {
    display: block;
}

/*
    menu-fixed
*/

.is-sticky{
    position:fixed;
    top: 0;
    width: 100%;
    /*overflow: hidden;*/
    z-index: 100;
}
.content-wrapper {
    padding-top: 60px;
}
.is-second-sticky{
    position:fixed;
    top: 126px;
    width: 100%;
    /*overflow: hidden;*/
    z-index: 100;
}
.second-content-wrapper {
    padding-top: 180px;
}
.is-preview-sticky{
    position:fixed;
    top: 64px;
    /* width: 100%; */
    /* overflow: hidden; */
    z-index: 100;
}
.preview-content-wrapper {
    padding-top: 120px;
    z-index: 50;
}
/* hidden menu */
.hidden{
    z-index: -1;
    position: absolute;
    /* visibility: hidden; */
}
.column{
		float:left;
		min-height:1px
	}
.product-preview .column-left{
	width:100%;
	padding-right:315px;
	font-size:0;

	/* border: 1px solid #eee; */
	}
.product-preview .column-right{
	width:295px;
	margin-left:-295px;
	padding-left:20px;

	/*border: 1px solid #eee; */
	}

.product-preview .column-img,
.product-preview .column-in{
	display:inline-block;
	vertical-align:middle;
	font-size:13px
	}
.product-preview .column-img{
	width:125px;
	margin-right:-125px;
	position:relative
	}
.product-preview .img-centered{
	height:70px;
	line-height:68px;
	text-align:left
	}
.product-preview .column-in{
	width:100%;
	padding-left:125px
	}
.product-preview .column-in:first-child{
	padding-left:0
	}

.product-preview .item-title{
	font-size:18px;
	line-height:20px;
	margin-bottom:7px
	}
.product-preview .item-meta{
	font-size:0;
	color:#000;
	margin:0 0 0 -41px
	}
.product-preview .item-meta>div{
	font-size:12px;
	display:inline-block;
	vertical-align:middle;
	margin-left:41px
	}
.product-preview .item-meta b,
.product-preview .item-meta label{
	font-weight:500
	}
.product-preview .item-meta b{
	color:#2ba81e;
	padding-left: 5px
	}
.product-preview .item-meta label{
	margin:0
	}

.product-preview .item-price{
	font-size:22px;
	line-height:22px
	}
.product-preview .item-price .tng,
.product-preview .item-price strong{
	font-size:100%
	}
.product-preview .item-price .tng{
	padding-left:0
	}
.product-preview .item-order{
	padding-top:9px;
	font-size:0
	}
.product-preview .item-order .btn--order{
	position:relative;
	top:3px
	}

.product-preview .item-order>div{
	display:inline-block;
	vertical-align:middle;
	font-size:13px;
	width:50%
	}
.product-preview .item-order>div:last-child{
	text-align:right
	}
.product-preview .item-order .old-price .price{
	color:#ff6013;
	font-size:.875rem;
	text-decoration:line-through;
	font-weight:400
	}